<%- include('partials/header') %>
   
  
<br><br><br><br><br><br><br><br><br>

<div class = 'dashboard' >

    <form action="/customers-mod" class="dash-row "><button type="submit" class="dash-btn"> Customers</button></form>

    <form action="/packages-mod"class="dash-row"><button type="submit" class="dash-btn"> packages</button></form>

    <form action="/user-mod" class="dash-row"><button type="submit" class="dash-btn"> users</button></form>

    <form action="/reports"class="dash-row"><button type="submit" class="dash-btn"> reports</button></form>

    <form action="not"class="dash-row"><button type="submit" class="dash-btn"> Trace a package</button></form>

    <form action="not"class="dash-row"><button type="submit" class="dash-btn">  Send notification</button></form>

</div>
    
   
    
</body>
</html>