<%- include('partials/header') %>
<br>  
<table>
    
    <tr>
        <th> trace a package </th>
    </tr>

    <tr>
        
        <td><form action="/see-packages" method="post" id="package"></form><input type="text" name="id" value="" form="package" placeholder="Enter Customer_ID"> </form> </td>
        <td> <input style = 'width:100%' name='action' class="sbmt-btn" type="submit" value="trace" form="package"> </td>
    </tr>
   </table>

   <br>  <br> <br> 
  

   <br>  

  
  

    
</body>
</html>