<%- include('partials/header') %>

   
   <div class="track-form">
    <form action="/" method="post">
        <div class="row">
            <div class="col">
                <label for="package_ID">Enter your track number.</label><br><br>
                <input type="text" name="package_ID" placeholder="EX: 14223" required> <br><br><br>
            </div>
            <div class = 'row'> <div class="btn-col"> <input type="submit" class="sbmt-btn" value="Track"></div> </div>

        </div>
    </form>

   
   </div>
    
   
    
</body>
</html>