<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body>
   <div class="nav"> <ul class="nav-links">
    
    <li><a href="/">LOGO</a></li>
    
    <li><a href="/" target="_blank" rel="noopener noreferrer">Home</a></li>
   <li><a href="/about us"> About us </a></li>
   <li> <a href="/">Login</a></li>
   </ul> </div>

   
   <div class="track-form">
    <form action="/" method="GET">
        <div class="row">

            <div class="col">
                <label for="package_ID">Enter your track number.</label><br><br>
                <input type="text" name="package_ID" placeholder="EX: 14223" required> <br><br><br>
            </div>
            <div class = 'row'> <div class="btn-col"> <input type="submit" class="sbmt-btn" value="Track"></div> </div>

        </div>
    </form>

    <div class="Package-container" > 
        <table>
            <tr></tr>
        </table>
        <% packages.foreach(package=>{%>
            
        })
    </div>
   </div>
    
   
    
</body>
</html>