<%- include('partials/header') %>


<h1>Search packages between 2 dates based on status</h1>

<table>
    <tr><th>Location_ID</th>
    <th>Category<small></small></th>
    <th>Status<small></small></th>
    
</tr>



 
    <tr>
        <td> <form action="/package-ct-loc-st" method="post" id='search' ></form> <input type="text" name="loc" value="" form="search" placeholder="Location_ID" required> </td>
        <td><select name="status" form="search" required>
            <option value="in transit">in transit</option>
            <option value="Deliverd">Delivered</option>
            <option value="delayed">delayed</option>
          </select> </td>

          <td><select name="type" form="search" required>
            <option value="Regular">Regular</option>
            <option value="Fragile">Fragile</option>
            <option value="Chemical">Chemical</option>
            <option value="Liquid">Liquid</option>
          </select> </td>

        <td><input style = 'width:100%' class="sbmt-btn" type="submit" name="action" value="search" form="search"> </td>

        
    </tr>