<%- include('partials/header') %>
   
<br><br><br><br><br><br><br><br><br>


<div class = 'dashboard reports' >

    <form action="/paid" class="dash-row "><label ></label><button type="submit" class="dash-btn">Payments that have been confirmed and completed</button></form>

    <form action="/package-st-dt"class="dash-row"><button type="submit" class="dash-btn"> status of packages between two dates</button></form>

    <form action="/package-tp-dt" class="dash-row"><button type="submit" class="dash-btn"> Packages by type and send date</button></form>

    <form action="/package-ct-loc-st"class="dash-row"><button type="submit" class="dash-btn">Tracking based on Category,location, and status</button></form>

    <form action="/package-send-rec"class="dash-row"><button type="submit" class="dash-btn"> List all packages information sent or received by a customer. </button></form>
   
</div>
    
</body>
</html>