<%- include('partials/header') %>
<table>
    <tr><th>#</th>
    <th>Customer_ID</th>
    </tr>
<tr>
    <td> <form action="/package-send-rec" method="post" id="search" ></form> # </td>
  
    <td><input type="text" name="ID" placeholder="Enter Customer ID" value="" form="search"> </td>
    <td><input style = 'width:100%' class="sbmt-btn" type="submit" value="search" form="search"> </td>
    
</tr>

</table>